body{ background-color: khaki; }
#header{ padding:20px; margin-bottom: 5px; background-color: lightsalmon; }
#content{ padding:20px; margin-bottom: 5px; background-color:lightsteelblue }
#footer{ padding:20px; margin-bottom: 5px; background-color: limegreen}